.productsContainer {
    max-width: 100vw;
    max-height: 100vh;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background: #0F3460;

    .itemProduct {
        margin: 10px;
    }

}